
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

.App {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

/* ปรับปรุงหรือเพิ่ม CSS อื่น ๆ ตามที่ได้กล่าวไว้ก่อนหน้านี้ */
.App {
  max-width: 600px;
  margin: auto;
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  color: #333;
}

form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #a12626;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #127210;
  color: rgb(4, 4, 4);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5512f0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #448c8c;
  margin: 8px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #ff4757;
  margin-left: 10px;
}

li button:first-of-type {
  background-color: #ffa502;
}

li button:hover {
  opacity: 0.9;
}

/* Add more styles as needed */
